<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.threadwork.heartbeat</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/coachstokes/bin/heartbeat-daemon.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/coachstokes/bin/heartbeat-launchd.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/coachstokes/bin/heartbeat-launchd.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>/Users/coachstokes</string>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/Users/coachstokes/.local/bin</string>
    </dict>
</dict>
</plist>
