<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.threadwork.agents</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>-l</string>
        <string>THREADWORK_ROOT/scripts/launch-all.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StartInterval</key>
    <integer>300</integer>
    <key>StandardOutPath</key>
    <string>THREADWORK_ROOT/launch-all.log</string>
    <key>StandardErrorPath</key>
    <string>THREADWORK_ROOT/launch-all.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>HOME_DIR/.bun/bin:HOME_DIR/.local/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>HOME</key>
        <string>HOME_DIR</string>
    </dict>
</dict>
</plist>
